<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="defaultStatementTimeout" value="600" />
		<setting name="logImpl" value="SLF4J" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="callSettersOnNulls" value="true"/>
	</settings>

	<typeAliases>
		<!-- entity -->
		<typeAlias type="com.xfsw.account.entity.User" alias="User" />
		<typeAlias type="com.xfsw.account.entity.Tenant" alias="Tenant" />
		<typeAlias type="com.xfsw.account.entity.UserTenant" alias="UserTenant" />
		<typeAlias type="com.xfsw.account.entity.DefaultAuthority" alias="DefaultAuthority" />
		<typeAlias type="com.xfsw.account.entity.CategoryAuthority" alias="CategoryAuthority" />
		<typeAlias type="com.xfsw.account.entity.CommonAuthority" alias="CommonAuthority" />
		<typeAlias type="com.xfsw.account.entity.LinkAuthority" alias="LinkAuthority" />
		<typeAlias type="com.xfsw.account.entity.Role" alias="Role" />
		<typeAlias type="com.xfsw.account.entity.RoleCategoryAuthority" alias="RoleCategoryAuthority" />
		<typeAlias type="com.xfsw.account.entity.RoleAuthoritySql" alias="RoleAuthoritySql" />
		<typeAlias type="com.xfsw.account.entity.RoleAuthoritySqlParam" alias="RoleAuthoritySqlParam" />
		<typeAlias type="com.xfsw.account.entity.RoleLinkAuthority" alias="RoleLinkAuthority" />
		<typeAlias type="com.xfsw.account.entity.UserTenantRole" alias="UserTenantRole" />
		
		<!-- model -->
		<typeAlias type="com.xfsw.account.model.UserTenantModel" alias="UserTenantModel" />
		
		<typeAlias type="com.xfsw.account.model.AuthorityModel" alias="AuthorityModel" />
		<typeAlias type="com.xfsw.account.model.RoleAuthoritySqlModel" alias="RoleAuthoritySqlModel" />
		
		<typeAlias type="com.xfsw.account.model.UserPublicInfo" alias="UserPublicInfo"/>
		
	</typeAliases>

</configuration>