.pre_answer_div{
	margin:12px;
	float:left;
}
.pre_answer_div>div{
	height: 50px;
	min-width: 50px;
	border: 1px solid #000;
	margin-bottom: 5px;
}
#answerDiv:after{
	clear: both;
	content:" ";
	display: block;
}