.add_panel{
	text-align: center;
}
.point_item_div>div:hover{
	color:#b9bfc1;
}
.point_item_div{
	display: block;
}
.point_item_div>div{
	float:left;
	margin:10px 10px;
	cursor: pointer;
	background-color:#fff;
	width:50px;
	height:50px;
	border-radius:10px;
	border: 1px solid #b9bfc1;
}
.point_item_div>div:FIRST-CHILD i{
	height: 50px;
	line-height: 50px;
}
.point_item_div>div i{
	font-size:25px;
	height: 30px;
	line-height: 35px;
}
.point_item_div>div p{
	font-size:12px;
}


.point-panel-body{
	overflow: hidden;
}
.point-panel-body header{
	margin-bottom: 8px;
}
.point-panel-body header label{
	padding-right:10px;
}



.point_div{
}
.point_div button{
	margin:10px 0;
}
.point_div .preview-div{
	display: inline-block;
	float: none;
	margin:0;
}

.delete_point_mask_div{
	position: absolute;
	z-index:1;
	height:28px;
	background-color: #000;
	opacity: 0.4;
	padding:5px;
	width:100%;
	top:0px;
	left: 0px;
}
.delete_point_div{
	background-color: #000;
	opacity: 0.4;
	padding:5px;
	width:100%;
	height:28px;
}

.delete_point_mask_div i,
.delete_point_div i{
	cursor: pointer;
	font-size:16px;
}
.delete_point_mask_div i:hover,
.delete_point_div i:hover{
	font-size:20px;
}

/*练习题group样式定义*/
.form-group-exercise{
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
	padding-bottom: 8px;
}

/*练习题答案*/
.answer_div{
	float: left;
	min-width: 50px;
	height: 50px;
	border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}
.answer_div>img{
	height: 46px;
	padding:1px;
}
.answer_div_selected{
	border: 2px solid #00D604;
}

/*统一clear*/
.point_item_div:after,
.add_info_btn_panel:after,
.container-div:after{
	clear: both;
	content:" ";
	display: block;
}

#questionDiv img{
	width:100%;
	margin: 5px 0;
}



/**答案行*/
.answer_row{
	padding:5px;
	border: 1px dashed #ccc;
}
/*添加答案按钮label*/
.add_answer_btn_label{
	padding:0px;
	text-align: right;
	font-size: 20px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
/*图片答案块*/
.answer_img_div{
	height: 34px;
	line-height:34px;
	font-size:12px;
	min-width: 34px;
	border: 1px solid #ccc;
	cursor: pointer;
	padding: 0 5px;
}
.answer_img_li{
	margin:10px;
	border:1px solid #000;
	min-width:40px;
	height:40px;
}




#pointPanel:after,
.point_panel_clear,
.exercise_detail_col:after{
	display: block;
	clear: both;
	content: " ";
}
/*知识点细节板块*/
.panel_knowledge{
	width:350px;
	float: left;
	margin:0 8px 8px 0;
}
/*练习题行*/
.exercise_row{
	border:1px dashed #ccc;
	padding:8px;
	margin-bottom: 8px;
}
/*添加题目按钮行*/
.exercise_btn_row{
	text-align: center;
	margin: 10px 0;
}
.exercise_row>div{
	border-bottom: 1px dashed #ccc;
	padding:8px 0;
}
.exercise_row>div:LAST-CHILD{
	border-bottom:none;
}
.exercise_col img{
	width:100%;
	margin-top:5px;
}
.exercise_detail_col{
	margin:5px 0;
}
.exercise_detail_col>select,
.exercise_detail_col>input,
.exercise_detail_col>button{
	float:left;
	margin-right:2px;
}


/*知识点按钮板块样式-start*/
.btn-form-group{
	height: 50px;
	margin:0;
	text-align: center;
}
.add_btn_panel,
.add_info_btn_panel{
	text-align: center;
	transition: all 0.4s;
}
.add_btn_panel{
	transform: translateY(0);
}
.add_info_btn_panel{
	transform: translateY(20px);
}
.add_btn_panel i,
.add_info_btn_panel>div{
	cursor: pointer;
}
.add_btn_panel{
	height: 50px;
    line-height: 50px;
}
.add_btn_panel i{
	font-size:30px;
}
.add_info_btn_panel{
	margin:0 auto;
	display: inline-block;
}
.add_info_btn_panel>div{
	float:left;
	width:60px;
}
.add_info_btn_panel>div>p:FIRST-CHILD{
	height: 24px;
	line-height: 24px;
}
.add_info_btn_panel>div>p{
	margin:0;
}
.add_info_btn_panel .add_info_text{
	font-size:12px;
}
.add_info_btn_panel i{
	font-size:20px;
}
.add_info_btn_panel i:hover{
	font-size:24px;
}
.move_hide{
	transform: translateY(70px);
}
.move_show{
	transform: translateY(-50px);
}
/*知识点按钮板块样式-end*/

/*知识点内容样式-start*/
.knowledge_detail_col{
	text-align: center;
	margin: 10px 0;
	position: relative;
}
.knowledge_detail_col video,
.knowledge_detail_col img,
.knowledge_detail_col textarea{
	width:100%;
	border-radius: 5px;
}
.knowledge_detail_col textarea{
	height:80px;
}
/*知识点内容样式-end*/