.add_panel{
	text-align: center;
	background-color: #b9bfc1;
}
.point_item_div>div:hover{
	color:#b9bfc1;
}
.point_item_div{
	display: block;
}
.point_item_div>div{
	float:left;
	margin:10px 10px;
	cursor: pointer;
	background-color:#fff;
	width:50px;
	height:50px;
	border-radius:10px;
}
.point_item_div>div:FIRST-CHILD i{
	height: 50px;
	line-height: 50px;
}
.point_item_div>div i{
	font-size:25px;
	height: 30px;
	line-height: 35px;
}
.point_item_div>div p{
	font-size:12px;
}


.form-group{
	text-align: center;
}
.point-panel-body{
	overflow: hidden;
}
.point-panel-body header{
	margin-bottom: 8px;
}
.point-panel-body header label{
	padding-right:10px;
}

.btn-form-group{
	height: 50px;
	margin:0;
	text-align: center;
}
.add_btn_panel,
.add_info_btn_panel{
	text-align: center;
	transition: all 0.4s;
}
.add_btn_panel{
	transform: translateY(0);
}
.add_info_btn_panel{
	transform: translateY(20px);
}
.add_btn_panel i,
.add_info_btn_panel>div{
	cursor: pointer;
}
.add_btn_panel{
	height: 50px;
    line-height: 50px;
}
.add_btn_panel i{
	font-size:30px;
}
.add_info_btn_panel{
	margin:0 auto;
	display: inline-block;
}
.add_info_btn_panel>div{
	float:left;
	width:60px;
}
.add_info_btn_panel>div>p:FIRST-CHILD{
	height: 24px;
	line-height: 24px;
}
.add_info_btn_panel>div>p{
	margin:0;
}
.add_info_btn_panel .add_info_text{
	font-size:12px;
}
.add_info_btn_panel i{
	font-size:20px;
}
.add_info_btn_panel i:hover{
	font-size:24px;
}

.point_div{
	border: 1px solid #ccc;
	border-radius: 5px;
}
.point_div button{
	margin:10px 0;
}
.point_div .preview-div{
	display: inline-block;
	float: none;
	margin:0;
}
.point_div video,
.point_div>img,
.point_div textarea{
	width:100%;
	border-radius: 5px;
}
.point_div textarea{
	height:80px;
}
.delete_point_mask_div{
	position: absolute;
	z-index:1;
	height:28px;
	background-color: #000;
	opacity: 0.4;
	padding:5px;
	width:100%;
	top:0px;
	left: 0px;
}
.delete_point_div{
	background-color: #000;
	opacity: 0.4;
	padding:5px;
	width:100%;
	height:28px;
}

.delete_point_mask_div i,
.delete_point_div i{
	cursor: pointer;
	font-size:16px;
}
.delete_point_mask_div i:hover,
.delete_point_div i:hover{
	font-size:20px;
}

/*练习题group样式定义*/
.form-group-exercise{
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
	padding-bottom: 8px;
}

/*练习题答案*/
.answer_div{
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}
.answer_div>img{
	height: 50px;
}
.answer_div_selected{
	border: 1px solid #00D604;
}

.move_hide{
	transform: translateY(70px);
}
.move_show{
	transform: translateY(-50px);
}

/*统一clear*/
.point_item_div:after,
.add_info_btn_panel:after,
.container-div:after{
	clear: both;
	content:" ";
	display: block;
}