.add_panel{
	text-align: center;
	background-color: #b9bfc1;
}
.point_item_div>div:hover{
	color:#b9bfc1;
}
.point_item_div{
	display: block;
}
.point_item_div>div{
	float:left;
	margin:10px 10px;
	cursor: pointer;
	background-color:#fff;
	width:50px;
	height:50px;
	border-radius:10px;
}
.point_item_div>div:FIRST-CHILD i{
	height: 50px;
	line-height: 50px;
}
.point_item_div>div i{
	font-size:25px;
	height: 30px;
	line-height: 35px;
}
.point_item_div>div p{
	font-size:12px;
}

.point-panel-body{
	overflow: hidden;
	text-align:center;
}

.btn-form-group{
	height: 50px;
	margin:0;
}
.add_btn_panel,
.add_info_btn_panel{
	text-align: center;
	transition: all 0.4s;
}
.add_btn_panel{
	transform: translateY(0);
}
.add_info_btn_panel{
	transform: translateY(20px);
}
.add_btn_panel i,
.add_info_btn_panel>div{
	cursor: pointer;
}
.add_btn_panel{
	height: 50px;
    line-height: 50px;
}
.add_btn_panel i{
	font-size:30px;
}
.add_info_btn_panel{
	margin:0 auto;
	display: inline-block;
}
.add_info_btn_panel>div{
	float:left;
	width:60px;
}
.add_info_btn_panel>div>p:FIRST-CHILD{
	height: 24px;
	line-height: 24px;
}
.add_info_btn_panel>div>p{
	margin:0;
}
.add_info_btn_panel .add_info_text{
	font-size:12px;
}
.add_info_btn_panel i{
	font-size:24px;
}


.point_item_div:after,
.add_info_btn_panel:after{
	clear: both;
	content:" ";
	display: block;
}

.video_div{
	border: 1px solid #ccc;
	border-radius: 5px;
}
.video_div button{
	margin:10px 0;
}
.video_div .preview-div{
	display: inline-block;
	float: none;
	margin:0;
}

.move_hide{
	transform: translateY(70px);
}
.move_show{
	transform: translateY(-50px);
}